.componentBorder {
    /* height: 168vh;  */
    min-height: 168vh;
    /* height: auto; */
    overflow:auto;
    width: 76vw;
    border: 2px solid #d7d7d7;
    margin: 0px -10px 0px -10px;
    padding: 15px 10px 5px 10px;
    border-radius: 15px;
}

.componentBorderPolicies {
    margin: 20px -10px 0px -10px;
    /* min-height: 18vh; */
    padding: 15px 10px 5px 10px;
    border-radius: 15px;
    overflow:auto;
    width: 76vw;
    border: 2px solid #d7d7d7;
}

.PipelineComponent {
    /* width: 57.5vw; */
    padding: 20px 30px 20px 30px;
    margin: 5px 0px 5px 0px;
    border-radius: 15px;
    /* border: 2px solid #3366FF; */
    border: 2px solid #d7d7d7;
}

.TokenizerDropDowns {
    width: 260px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.lexicalSyntacticFeaturizerFormGroup {
    height: 180px;
    width: 37vw;
    margin-top: 15px;
    margin-left: 10px;
}

.spacyEntityExtractorFormGroup {
    height: 50px;
    width: 45vw;
    margin-top: 15px;
    margin-left: 10px;
}

.trainBtn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 20px 10px 20px;
}